<div class="page-header">
  <h1>New Sentence</h1>
</div>

<%= render 'form', sentence: @sentence %>

<!-- <%= link_to '<button type="button" class="btn btn-success">Back</button>'.html_safe, sentences_path %> -->
